<section id="about" class="text-center">
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Mugs?</h2>
      <hr class="primary">
      <p></p>
      <h2>Candles?</h2>
      <hr class="primary">
      <p></p>
    </div>
  </div>
</div>
</section>


