<header class="video-bg">
<div class="intro-video intro-dark-bg container">
  <div class="overlay"></div>
  <div class="intro-body" data-scrollreveal="move 0 over 1.5s">
    <div class="container">
      <h1 class="brand-heading">
        <span class="text-primary">Rainy Day</span><br>Mugs
      </h1>
      <hr class="light">
      <div class="carousel slide">
        <h4>A cup of cozy</h4>
      </div>
      <div class="page-scroll" data-scrollreveal="enter bottom after .6s">
        <a href="#about" class="btn btn-scroll-light sink">
          <i class="fa fa-angle-double-down"></i>
        </a>
      </div>
    </div>
  </div>
</div>
</header>
